<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.strobertchs.foodforthought">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignInLogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ChangeNameActivity">
        </activity>
        <activity android:name="ChangeRoomActivity">
        </activity>
        <activity android:name="ChangePasswordActivity">
        </activity>
        <activity android:name="ChangeUsernameActivity">
        </activity>
        <activity android:name="SettingsActivity"
            >
        </activity>
        <activity android:name=".DonationPage"
            >
        </activity>
        <activity android:name=".MoneyDonationPage"
            >
        </activity>
        <activity android:name=".FoodDonationPage"
            >
        </activity>
        <activity android:name=".ClothingDonationPage"
            >
        </activity>
        <activity android:name=".DonationHistoryPage"
            >
        </activity>
        <activity android:name=".ProfileCreation"
            >
        </activity>
        <activity android:name=".AdminPage"
            >
        </activity>
        <activity android:name=".AdminLogin"
            >
        </activity>
        <activity android:name=".ClassroomAccount"
            >
        </activity>
        <activity android:name=".PersonalIncentives"
            >
        </activity>
        <activity android:name=".StudentViewOnly"
            >
        </activity>
        <activity android:name=".Incentives"
            >
        </activity>
    </application>

</manifest>